@import 'reset';
@import 'variables';
body {
    margin:0;
    padding:0;
    overflow: hidden;
}
#map {
    position:absolute; 
    top:0; 
    bottom:0; 
    width:100%;
}
.weather {
    position: absolute;
     width: 100%;
     height: 100%;
}
.intro {
    padding: 30px;
    color: white;
    font-family: 'Rubik', sans-serif;
    display: block;
    position: absolute;
    top: 33%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all .9999s;
    text-align: center;
    opacity: 1;
}
.intro__hide-at-top {
    opacity: 0;
    top: 0
}
.loading-lines {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url('./img/35 (1).gif') center no-repeat ;
    width: 32px;
    height: 32px;
    background-size: contain;
}
.loading-lines__display-block {
    display: block;
}
.mapboxgl-ctrl-geocoder input[type='text'] {
    display: block;
    background-color: white !important;
    box-shadow: 0 0 10px #000000 !important;
    padding: 10px 10px 10px 10px !important;
}
.mapboxgl-ctrl-geocoder, .mapboxgl-ctrl-geocoder ul {
    box-shadow: 0 0 0 0 rgba(0,0,0,0.1) !important;
}
.mapboxgl-ctrl-top-right {
    top: 35% ;
    right: 50%;
    transform: translate(50%,50%);
    transition: top 1s, 
}
.mapboxgl-ctrl-top-right__very-top {
    top: 1%;
}
.suggestions {
    margin-top: 45px !important;
    border-radius: 20px !important;
}
 .landing-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(221,160,221);
    background: linear-gradient(45deg, rgba(221,160,221,1) 25%, rgba(60,162,200,1) 75%);
    -webkit-transition:    hight 1s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition:            height 1s cubic-bezier(0.215, 0.61, 0.355, 1);
    overflow: hidden;
 }
 .landing-wrapper__height-0 {
    height: 0;
 }

input{
    position: absolute;
    top: 0;
    left: 0;
    width: 95%;;
    height: 45.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    border-radius: 20px;
    padding: 0 0 0 20px;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    font-size: 36px;
}
 .weatherData {
    position: relative;
    width: 1150px;
    top: 150%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: 'Rubik', sans-serif;
    transition: top 1s,
 }
 .weatherData__hide {
    opacity: 1 ;
    top: 70% ;
    transform: translate(-50%, -50%) ;
 }

 .location, .temperature-outside, .weather-summary-currently, .weather-summary-daily {
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* IE10+/Edge */
    user-select: none;         /* Standard */
 }
 .location {
    display: block;
    font-weight: 700;
    font-size: 100px;
    font-size: 30px;
    text-shadow: black 2px 2px 30px;
 }
 .temperature-outside {
    display: block;
    font-weight: 700;
    font-size: 200px;
    text-shadow: #808080 1px 0 30px;
 }
 .weather-summary-currently {
     padding-bottom: 15px;
     text-shadow: #ffa35c 1px 0 10px;
 }
 .weather-summary-daily {
    text-shadow: #ffa35c 1px 0 10px;
}