/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* Don't kill focus outline for keyboard users: http://24ways.org/2009/dont-lose-your-focus */
a:hover, a:active {
  outline: none; }

a {
  text-decoration: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden; }

.mapping {
  position: absolute; }

.intro {
  padding: 30px;
  color: white;
  font-family: 'Rubik', sans-serif;
  display: block;
  position: absolute;
  top: 33%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all .9999s; }

.intro__hide {
  opacity: 0 !important;
  top: 0 !important; }

.mapboxgl-ctrl-geocoder input[type='text'] {
  display: block;
  background-color: white !important;
  box-shadow: 0 0 10px #000000 !important;
  padding: 10px 10px 10px 10px !important; }

.mapboxgl-ctrl-geocoder, .mapboxgl-ctrl-geocoder ul {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1) !important; }

.mapboxgl-ctrl-top-right {
  top: 35%;
  right: 50%;
  transform: translate(50%, 50%);
  transition: top 1s, left 1s, transform 1s; }

.mapboxgl-ctrl-top-right__very-top {
  top: 1% !important; }

.suggestions {
  margin-top: 45px !important;
  border-radius: 20px !important; }

.matching-options-wrapper {
  transition: all 1s; }

.matching-options {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  height: 100%;
  padding-bottom: 30px;
  width: 100%;
  border-radius: 2px solid black;
  transition: all 1s; }

.options-item a {
  transition: all 1s;
  background: transparent;
  font-family: 'Rubik', sans-serif;
  font-weight: 600;
  font-size: 36px; }

.options-item a:hover {
  background: -webkit-gradient(linear, left top, right top, from(#ff8a00), to(#da1b60));
  background: linear-gradient(to right, #ff8a00, #da1b60);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  text-shadow: none; }

.location-picker {
  color: black; }

.container {
  width: 1030px;
  height: auto;
  display: none; }

.landing-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  background: plum;
  background: linear-gradient(45deg, plum 25%, #3ca2c8 75%);
  transition: all 1.5s, height .4s; }

.landing-wrapper__height-0 {
  height: 0 !important; }

.landing {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 25px 25px 50px 50px;
  background: transparent;
  transition: top 1s, left 1s, transform 1s; }

form {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all .5s;
  width: 50px;
  height: 50px;
  background: white;
  box-sizing: border-box;
  border-radius: 25px;
  border: 4px solid white; }

input {
  position: absolute;
  top: 0;
  left: 0;
  width: 95%;
  height: 45.5px;
  line-height: 30px;
  outline: 0;
  border: 0;
  display: none;
  border-radius: 20px;
  padding: 0 0 0 20px;
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
  font-size: 36px; }

a {
  color: black;
  font-family: 'Roboto', sans-serif; }

.fa {
  box-sizing: border-box;
  padding: 10px;
  width: 42.5px;
  height: 42.5px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  color: #07051a;
  text-align: center;
  font-size: 1.2em;
  transition: all 1s; }

.fa-search:before {
  content: "\f002"; }

form:hover {
  width: 100%;
  cursor: pointer; }

form:hover input {
  display: block; }

form:hover .fa {
  background: #07051a;
  color: white; }

.weatherData {
  position: relative;
  width: 1150px;
  top: 150%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: 'Rubik', sans-serif;
  transition: top 1s, opacity .5s; }

.weatherData__hide {
  opacity: 1 !important;
  top: 70% !important;
  transform: translate(-50%, -50%) !important; }

.location {
  display: block;
  font-weight: 700;
  font-size: 100px; }

.location {
  font-size: 30px;
  text-shadow: #808080 1px 0 10px; }

.temperature-outside {
  display: block; }

.temperature-outside {
  font-weight: 700;
  font-size: 200px;
  text-shadow: #808080 1px 0 30px; }

.temperature-outside__text-shadow {
  text-shadow: #000000 1px 0 10px; }

.weather-summary-currently {
  padding-bottom: 15px;
  text-shadow: #FC0 1px 0 10px; }

.weather-summary-daily {
  text-shadow: #FC0 1px 0 10px; }

.location, .temperature-outside, .weather-summary-currently, .weather-summary-daily {
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */ }

.mq-input, .mq-place-search {
  width: 100%; }

.mq-input {
  line-height: 50px;
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
  font-size: 36px;
  outline: none;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: transparent;
  padding-right: 35px;
  padding-left: 15px;
  height: 42px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

.mq-input::-webkit-search-decoration {
  -webkit-appearance: none; }

.mq-input::-webkit-search-cancel-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: none; }

.mq-input::-ms-clear {
  display: none; }

.mq-input-icon {
  border: 0;
  background: transparent;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 16px;
  outline: none; }

.mq-input-icon svg {
  fill: #cfcfcf;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }

.mq-dropdown-menu {
  width: 100%;
  background: transparent;
  box-shadow: inset 0 0 10px #000000;
  border-radius: 25px 25px 50px 50px;
  margin-top: 20px;
  overflow: hidden; }

.mq-result {
  cursor: pointer;
  height: 50px;
  line-height: 50px;
  padding-left: 18px;
  overflow: hidden;
  font-family: 'Rubik', sans-serif;
  font-weight: 600;
  font-size: 24px; }

.mq-result:hover {
  background: -webkit-gradient(linear, left top, right top, from(#ff8a00), to(#da1b60));
  background: linear-gradient(to right, #ff8a00, #da1b60);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  text-shadow: none; }

.mq-result .mq-name {
  color: #333; }

.mq-result .mq-address {
  font-size: smaller;
  margin-left: 12px;
  color: white; }

.mq-result-icon {
  margin-right: 10px;
  width: 14px;
  height: 20px;
  vertical-align: middle; }

.mq-result-icon svg {
  -webkit-transform: scale(0.9) translateY(2px);
  transform: scale(0.9) translateY(2px);
  fill: #666; }

.mq-cursor .mq-result-icon svg {
  -webkit-transform: scale(1) translateY(2px);
  transform: scale(1) translateY(2px);
  fill: #333; }

.mq-icon-clear {
  display: none;
  cursor: pointer; }
